body {
    background-color: #dcffe4;
}

.table {
    border: black solid 3px;
    padding:5%;
    border-radius: 10%;
    color: rgb(216, 213, 213);
}

.topics:hover {
    text-decoration: underline;
    color: white;
}







#tableCollection {
    
}

table {
    margin: 30px;
}

/*HTML CARD*/

#htmlTable {
    background-color: #e34c26;
}

#htmlTable:hover {
    background-color: black;
    
}

#htmlHeader {
    font-size: 20px;
}



/*CSS CARD*/

#cssTable {
    background-color: #563d7c;
}

#jsTable {
    background-color: #f1e05a;
}

#javaTable {
    background-color: #b07219;
}

#pythonTable {
    background-color: #3572A5;
}

#sqlTable {
    background-color: #dad8d8;
}

/* To add more language tables start here...
Find coordinating GitHub colors 
@ https://github.com/ozh/github-colors/blob/master/colors.json*/