body {
    background-color: #dcffe4;
}

#tableCollection {
    
}

table {
    margin: 30px;
}

#cssTable {
    background-color: #563d7c;
}



#htmlTable {
    background-color: #e34c26;
}

#jsTable {
    background-color: #f1e05a;
}

#javaTable {
    background-color: #b07219;
}


/* To add more language tables start here...
Find coordinating GitHub colors 
@ https://github.com/ozh/github-colors/blob/master/colors.json*/